*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin-top: 50px;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.logo{
    font-size: large;
    font-weight: 600;
    font-style: italic;
    color:rgb(128, 6, 128);
}
.header button{
    width: 50px;
    flex-shrink: 0;
    font-size: 30px;
    background: none;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
}
.bar{
    width: 100%;
    height: 3px;
    background-color: #fff;
    border: 10px;
}
.links{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    width: 250px;
    background-color: #fff;
}
.link{
    display: flex;
    align-items: center;
    padding: 12px 15px;
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
    color: #333;
}
.link.active,link:hover{
    color: #Ea2027;
    background-color: azure;
}
.links{
    transform: translateX(-250px);
    transition: 0.5s;
}
.content{
    padding: 10px;
}
.open .links{
    transform: translateX(0px);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.nav-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(2px);
    visibility: hidden;
    opacity: 0;
    transition: 0.3;
}
.open .nav-overlay{
    visibility: visible;
    opacity: 1;
}